* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
    text-align: center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 60px 20px 20px;
}
a {
    color: purple;
    text-decoration: none;
}
main{
    display: block;
    text-align: center;
    height: auto;
    margin: 100px 200px 0px 200px;
}
h1 {
    font-size: 60px;
    margin: 40px;
}
h2 {
    font-size: 25px;
    padding: 10px;
    margin: 20px;
}
#startquiz, .btn {
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    background-color: antiquewhite;
}
span{
    padding-left: 5px;
}
#question-container{
    display: none;
    font-size: 35px;
}
#answers {
    text-align: center;
    margin-top: 60px;
}
.btn{
    display: block;
    width: 50%;
    margin-left: 25%;
}
#resultsbox{
    display: none;
}
#nextquestion{
    display: none;
    margin-left: 530px;
    margin-top: 50px;
    font-size: 30px;
    padding: 10px;
    background-color:antiquewhite
}
input{
    padding: 5px;
}
#submit{
    padding: 5px;
}
#highscores{
    font-size: 30px;
    margin: 80px 0px 50px 0px;
}
#back, #clear{
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    margin: 20px;
    background-color: antiquewhite;
};