* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
    text-align: center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 60px 20px 20px;
}
a {
    color: purple;
    text-decoration: none;
}
main{
    display: block;
    text-align: center;
    height: auto;
    margin: 100px 200px 0px 200px;
}
h1 {
    position: relative;
    font-size: 8vw;
    margin: 40px;
}
h2 {
    font-size: 2vw;
    padding: 10px;
    margin: 20px;
}
#startquiz, .btn {
    font-size: 3vw;
    padding: 10px;
    margin: 20px;
    background-color: antiquewhite;
}
span{
    padding-left: 5px;
}
#question-container{
    display: none;
    font-size: 35px;
    margin: 20px;
}
#answers {
    text-align: center;
    margin-top: 60px;
}
.btn{
    display: block;
    position: relative;
    width: 50%;
    font-size: 2vw;
    margin-left: 25%;
}
#resultsbox{
    display: none;
}
#nextquestion{
    display: none;
    position: relative;
    margin-top: 50px;
    margin-left: 41.5%;
    font-size: 30px;
    padding: 10px;
    background-color:antiquewhite
}
input{
    padding: 5px;
}
#submit{
    padding: 5px;
}
#highscores{
    font-size: 30px;
    margin: 80px 0px 50px 0px;
}
#back, #clear{
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    margin: 20px;
    background-color: antiquewhite;
}

@media screen and (max-width: 800px) {
    body{
        text-align: center;
    }
    header {
        margin-top: 40px;
    }
    
    main{
        margin-left:0;
        text-align: center;
        width: 100vw;
    }
    #question-container{
        margin: 30px;
    }
    .btn {
        width: 35vw;
        margin-left:200px;
        margin-top: 20px;
        font-size: 3vw;
    }
    #nextquestion{
        margin-left: 280px;
        font-size: 3vw;
    }

}
@media screen and (max-width: 560px) {
    body{
        text-align: center;
    }
    header {
        margin-top: 40px;
    }
    main{
        margin-left:0;
        text-align: center;
        width: 100vw;
    }
    h1 {
        margin: 0px;
        text-align: center;
    }
    h2 {
        font-size: 3vw;
    }
    .btn {
        width: 45vw;
        margin-left:100px;
        margin-top: 20px;
    }
    #startquiz, .btn {
        font-size: 4vw;
    }
    #nextquestion{
        margin-left: 175px;
        font-size: 4vw;
    }

}
@media screen and (max-width: 480px) {
    .btn {
        width: 45vw;
        margin-left: 70px;
        margin-top: 20px;
    }
    #startquiz, .btn {
        font-size: 4vw;
    }
    #nextquestion{
        margin-left:130px;
        font-size: 4vw;
    }
}